docutils
Django
django-allauth
django-allauth-2fa
django-waffle
psycopg2-binary
django-environ
djangorestframework
djangorestframework-simplejwt
dj-rest-auth
django-cors-headers
drf-spectacular
stripe
dj-stripe
django-anymail[mailgun]  # email services
django-hijack
celery-progress
celery
celery[redis]
mailchimp3
sentry-sdk
wagtail
PyNaCl